@inherits LayoutComponentBase

@Body

<div id="blazor-error-ui" data-nosnippet>
    Er is een fout opgetreden.
    <a href="/api/debug/recent-errors" target="_blank" class="reload">Details</a>
    <a href="." class="reload">Herlaad</a>
    <span class="dismiss">x</span>
</div>
