<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <ResourcePreloader />
    <link rel="preconnect" href="https://unpkg.com" />
    <link rel="stylesheet" href="https://unpkg.com/maplibre-gl@5.20.1/dist/maplibre-gl.css" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["LaadinfrastructuurPlanner.styles.css"]" />
    <ImportMap />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <ReconnectModal />
    <script src="https://unpkg.com/maplibre-gl@5.20.1/dist/maplibre-gl.js"></script>
    <script src="@Assets["plannerMap.js"]"></script>
    <script src="@Assets["_framework/blazor.web.js"]" autostart="false"></script>
    <script>
        // Zware DuckDB-queries kunnen de server-keepalive vertragen; de standaard
        // client-timeout van 30s verbreekt het circuit dan onnodig.
        Blazor.start({
            circuit: {
                configureSignalR: (builder) => {
                    builder.withServerTimeout(120000).withKeepAliveInterval(10000);
                }
            }
        });
    </script>
</body>

</html>
